@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #000;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}
.container{
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid #000;
    box-shadow: 0 0 25px #000;
}
.container .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-box.Login{
    left: 0;
    padding: 0 40px;
}
.form-box h2{
    font-size: 32px;
    text-align: center;   
}
.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid #000;
    padding-right: 23px;
    transition: .5s;
}
.input-box input:focus,
.input-box input:valid{
    border-bottom: 2px solid #000;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #000;
}
.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    transition: .5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i{
    color: #000;
}
.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #000;   
    overflow: hidden;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#000, #fff, #000
    ,#fff);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.btn:hover:before{
    top: 0;
}
.regi-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}
.regi-link a{
    text-decoration: none;
    color: #000;
    font-weight: 600;  
}
