@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color:#fff
}
body{
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #25252b;
}
.container{
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid #fff;
}